// 사이트 레이아웃 관련 요소
.bg-gray {
  background-color: $gray-5;
}

// grid layout
.inner {
  position: relative;
  width: 100%;
  max-width: $grid;
  margin: 0 auto;
  padding: 0 $p-mobile;
  @include tablet {
    padding: 0 $p-tablet;
  }
}
#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color: var(--#{$prefix}gray-90);
  a {
    &:not(:focus) {
      @include sr-only;
    }
    &:focus {
      @include flex-layout($ai: center, $jc: center);
      @include focus($color: $white, $alpha: 0.9);
      font-size: 1.5rem;
      color: $white; //var(--#{$prefix}white)를 이걸로 대체
      width: 100%;
      height: 3.2rem;
      margin: 0 auto;
      text-align: center;
    }
  }
  &.type1 {
    background-color: $white;
    a {
      &:focus {
        color: $gray-90;
      }
    }
  }
}

// section layout
.sec-g {
  padding: 10vw 0;
  &__tit {
    padding-bottom: 2.34375vw;
    font-size: 4.8rem;
  }
  &__more {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 17px;
    right: $p-mobile;
    font-size: 2rem;
    @include mobileMore {
      right: $p-tablet;
    }
    &::after {
      content: "\f061";
      @include lineAwesome;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: $gray-20;
      border-radius: 50%;
    }
  }
}
//header
#header {
  position: relative;
  z-index: 1000;
  &.active {
    &::before {
      display: block;
    }
    .gnb_depth2 {
      display: block;
    }
  }
  &::before {
    display: none;
    content: "";
    position: absolute;
    background-color: $gray-30;
    height: 198px;
    top: 73px;
    left: 0;
    right: 0;
  }
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    @include tabletMore {
      height: auto;
    }
  }
  .logo {
    transform: scale(0.8);
    transform-origin: 0 50%;
    @include tabletMore {
      transform: none;
    }
    a {
      display: block;
      width: 252px;
      height: 45px;
      background: url(../../../resources/images/pattern/common/head_logo.png) no-repeat 0 0;
      background-size: contain;
    }
    span {
      @include sr-only;
    }
  }
}

.gnb {
  display: none;
  position: relative;
  @include tabletMore {
    display: block;
  }
  .gnb_depth1 {
    display: flex;
    > li {
      position: relative;
      &:hover {
        > a > span {
          &::after {
            width: 100%;
          }
        }
      }

      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 73px;
        padding: 0 50px;
        font-size: 2rem;
        font-weight: bold;
        background: #fff;
        > span {
          position: relative;
          display: flex;
          align-items: center;
          height: 100%;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 5px;
            transform: translateX(-50%);
            background-color: rebeccapurple;
            transition: all 0.3s;
          }
        }
      }
    }
  }

  .gnb_depth2 {
    display: none;
    position: absolute;
    top: 73px;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: $gray-30;
    //나는 라인 안그릴거야
    a {
      display: block;
      padding: 7px 0;
      text-align: center;
      color: $gray-70;
      &:hover {
        font-weight: $font-weight-bold;
        color: $gray-90;
      }
    }
  }
}

.util {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  transform: scaleX(-1);
  &::before {
    content: "\f002";
    @include lineAwesome;
    font-size: 3.8rem;
  }
}

.sitemap {
  &::before {
    content: "\f0c9";
    @include lineAwesome;
    font-size: 3.8rem;
  }
}
.language {
  display: none;
  position: relative;
  @include tabletMore {
    display: block;
  }
  &.active {
    .language_button {
      content: "\f106";
      @include lineAwesome;
    }
    .language_list {
      display: block;
    }
  }
  &_button {
    height: 57px;
    margin-right: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    &::after {
      content: "\f107";
      @include lineAwesome;
      margin-left: 5px;
      color: $gray-50;
    }
  }
  &_list {
    display: none;
    position: absolute;
    top: 52px;
    left: 0;
    width: 90%;
    border: 1px solid $gray-40;
    background: $white;
    text-align: center;
    li {
      padding: 5px 0;
      text-transform: uppercase;
      &:first-child {
        border-bottom: 1px solid $gray-40;
      }
    }
  }
}

#nav_all {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: $p-mobile;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  transition: all 0.3s;
  &.active {
    display: block;
    left: 0;
  }
  .close {
    height: 20px;
    width: 20px;
    display: block;
  }
}
